In [2]:
 import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization
import seaborn as sns # for statistical data visualization
%matplotlib inline

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [3]:
import warnings

warnings.filterwarnings('ignore')

In [4]:
data = '/home/ignis/Downloads/kmeans.csv'

df = pd.read_csv(data)

In [5]:
df.shape

(10, 2)

In [6]:
df.head()

    X1   X2
0  5.9  3.2
1  4.6  2.9
2  6.2  2.8
3  4.7  3.2
4  5.5  4.2

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X1      10 non-null     float64
 1   X2      10 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

In [8]:
df.isnull().sum()

X1    0
X2    0
dtype: int64

In [9]:
df.describe()

              X1         X2
count  10.000000  10.000000
mean    5.460000   3.230000
std     0.710555   0.434741
min     4.600000   2.800000
25%     4.925000   3.000000
50%     5.300000   3.100000
75%     5.975000   3.200000
max     6.700000   4.200000